<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Data API</title>
    </a></p>    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static',filename='imports.js') }}"></script>
    <script src="{{ url_for('static',filename='exports.js') }}"></script>
    <script src="{{ url_for('static',filename='retail_prices.js') }}"></script>
    <script src="{{ url_for('static',filename='prices_paid_to_growers.js') }}"></script>  
    <script src="{{ url_for('static',filename='total_imports_exports.js') }}"></script>
    <script src="{{ url_for('static',filename='total_exports_growers.js') }}"></script>
    <script src="{{ url_for('static',filename='top_5_import_export.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">     
</head>
<body>
    <h1 class="custom-fonts">Coffee Data API</h1>
    <i class="gg-coffee"></i>
    <p class="custom-fonts">This API provides data about coffee imports, exports, prices paid to growers, and retail prices for various countries over the years 1990-2019.<br>
    <br>This data was obtained from the <a href="https://www.ico.org/new_historical.asp"> International Coffee Organization </a><br>
    <br>You can also access visualisations for each table through the provided links.</p>
    <div id="exports_imports"></div>
    <div id="export_growers"></div>
    <div id="top_5_import_export"></div>
    <h2 class="custom-fonts">Available Data API Endpoints:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/data/imports">/api/v1.0/data/imports</a> - Coffee imports data</li>
            <li><a href="/api/v1.0/data/exports">/api/v1.0/data/exports</a> - Coffee exports data</li>
            <li><a href="/api/v1.0/data/prices_paid_to_growers">/api/v1.0/data/prices_paid_to_growers</a> - Prices paid to growers data</li>
            <li><a href="/api/v1.0/data/retail_prices">/api/v1.0/data/retail_prices</a> - Retail prices data</li>
            <li><a href="/api/v1.0/data/total_imports">/api/v1.0/data/total_imports</a> - Overall imports data</li>
            <li><a href="/api/v1.0/data/total_exports">/api/v1.0/data/total_exports</a> - Overall exports data</li>
            <li><a href="/api/v1.0/data/total_retail">/api/v1.0/data/total_retail</a> - Overall retail data</li>
            <li><a href="/api/v1.0/data/total_growers">/api/v1.0/data/total_growers</a> - Overall prices paid to growers data</li>
            <li><a href="/api/v1.0/data/top_5_import">/api/v1.0/data/top_5_import</a> - Top 5 Import by Country</li>
            <li><a href="/api/v1.0/data/top_5_export">/api/v1.0/data/top_5_export</a> - Top 5 Export by Country</li>
        </li>        
    </ul>

    <h2 class="custom-fonts">Data Visualisations:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/imports">Coffee Imports Data Visualization</a></li>
            <li><a href="/api/v1.0/exports">Coffee Exports Data Visualization</a></li>
            <li><a href="/api/v1.0/prices_paid_to_growers">Prices Paid to Growers Data Visualization</a></li>
            <li><a href="/api/v1.0/retail_prices">Retail Prices Data Visualization</a></li>
        </li>
    </ul>
    
    <h2 class="custom-fonts">Data Comparison:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/all_in_one">All Charts</a></li>
            <li><a href="/api/v1.0/total_imports_exports">Imports vs Exports</a></li>
            <li><a href="/api/v1.0/total_exports_growers">Exports vs Prices Paid to Growers</a></li>
        </li>
    </ul>



</body>
</html>
