<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee Data API</title>
    <!-- <img src="/images/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg">
    <p>Photo by <a href="https://unsplash.com/@nate_dumlao?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Dumlao</a> on <a href="https://unsplash.com/photos/zUNs99PGDg0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    </a></p>    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static',filename='total_imports_exports.js') }}"></script>
    <script src="{{ url_for('static',filename='total_exports_growers.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">     
</head>
<body>
    <h1 class="custom-fonts">Coffee Data API</h1>
    <i class="gg-coffee"></i>
    <p class="custom-fonts">This API provides data about <span style="font-size:26px">coffee imports, exports, prices paid to growers, and retail prices</span> for various countries over the years <span style="font-size:26px">1990-2019</span>.<br>
    <br>This data was obtained from the <span style="font-size:26px">International Coffee Organization</span>  https://www.ico.org/new_historical.asp <br>
    <br>You can also access visualisations for each table through the provided links.</p>
    <div id="exports_imports"></div>
    <div id="export_growers"></div>
    <h2 class="custom-fonts">Available Data API Endpoints:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/data/imports">/api/v1.0/data/imports</a> - Coffee imports data</li>
            <li><a href="/api/v1.0/data/exports">/api/v1.0/data/exports</a> - Coffee exports data</li>
            <li><a href="/api/v1.0/data/prices_paid_to_growers">/api/v1.0/data/prices_paid_to_growers</a> - Prices paid to growers data</li>
            <li><a href="/api/v1.0/data/retail_prices">/api/v1.0/data/retail_prices</a> - Retail prices data</li>
            <li><a href="/api/v1.0/data/total_imports">/api/v1.0/data/total_imports</a> - Overall imports data</li>
            <li><a href="/api/v1.0/data/total_exports">/api/v1.0/data/total_exports</a> - Overall exports data</li>
            <li><a href="/api/v1.0/data/total_retail">/api/v1.0/data/total_retail</a> - Overall retail data</li>
            <li><a href="/api/v1.0/data/total_growers">/api/v1.0/data/total_growers</a> - Overall prices paid to growers data</li>
        </li>        
    </ul>

    <h2 class="custom-fonts">Data Visualisations:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/imports">Coffee Imports Data Visualization</a></li>
            <li><a href="/api/v1.0/exports">Coffee Exports Data Visualization</a></li>
            <li><a href="/api/v1.0/prices_paid_to_growers">Prices Paid to Growers Data Visualization</a></li>
            <li><a href="/api/v1.0/retail_prices">Retail Prices Data Visualization</a></li>
        </li>
    </ul>
    
    <h2 class="custom-fonts">Data Comparison:</h2>
    <ul class="ul-tag">
        <li class="li-tag">
            <li><a href="/api/v1.0/all_in_one">All Charts</a></li>
            <li><a href="/api/v1.0/total_imports_exports">Imports vs Exports</a></li>
            <li><a href="/api/v1.0/total_exports_growers">Exports vs Prices Paid to Growers</a></li>
        </li>
    </ul>



</body>
</html>
