<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exports vs Prices Paid to Growers Data Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static',filename='total_exports_growers.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <h1 class="custom-fonts">Exports vs Prices Paid to Growers Data Visualization</h1>
    <div id="export_growers"></div>
</body>
</html>
